{% extends "base.html" %}

{% block title %}
    {{ user.username }}'s tasks
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if tasks %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="centered_data">Start date</th>
                            <th class="centered_data">Due date</th>
                            <th class="centered_data">Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td class="centered_data">{{ task.start_date|date:"M j, Y, g i a" }}</td>
                                <td class="centered_data">{{ task.due_date|date:"M j, Y, g i a" }}</td>
                                <td class="centered_data">{{ task.is_completed|yesno:"yes, no" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>You have no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
