{% extends "base.html" %}

{% block title %}
    Projects List
{% endblock title %}
{% block content %}
    <main>
        <div class="main_content_container">
            <h1>My Projects</h1>
            <a href="{% url 'create_project' %}">Create a new project</a>
            {% if not projects %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="centered_data">Number of tasks</th>
                        </tr>
                        <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td>
                                        <a class="table_link" href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                    </td>
                                    <td class="centered_data">{{ project.tasks.all.count }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </thead>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
