{% extends "base.html" %}

{% block title %}
    {{ project.name }} Detail
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ project.name }}</h1>
            <p class="action">{{ project.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if project.tasks.all %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="centered_data">Assignee</th>
                            <th class="centered_data">Start date</th>
                            <th class="centered_data">Due date</th>
                            <th class="centered_data">Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td class="centered_data">{{ task.assignee }}</td>
                                <td class="centered_data">{{ task.start_date|date:"M j, Y, g i a" }}</td>
                                <td class="centered_data">{{ task.due_date|date:"M j, Y, g i a" }}</td>
                                <td class="centered_data">{{ task.is_completed|yesno:"Yes,No" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
